// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
@import "compass/css3/hyphenation";
@import "compass/css3/transition";
@import "compass/css3/transform";


/* BASE */
html {
	height:100%;
	background:$nero;
	color:$bianco;
}

body.home {
	height:100%;
	overflow-x:hidden;
}

a {
	@include single-transition(all, 500ms);

	&:hover {
		color:$giallone;
	}
}
.no-ie8compat .nascondi-label {
	label {
		display:none;
	}
}

p {
	font-size:0.8em;

	@media #{$medium} { 
		font-size:1.125em;
	}
}

/* LAYOUT */
.right {
	float:right;
}
.no-touch .fixed-bg {
	position:fixed;
}

.no-touch .home-section {
	position:relative;
	top:100%;
	background-color:$nero;
}

body .fisso {
    height: 4.5em;
    padding-top: emCalc(10px);
    position: fixed;
    top: 0;
    box-shadow: 0 15px 30px #000000;
    z-index: 100;
}
.staccato {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}
.section-padding {
	padding:5em 0;
}
.lista {
	li {
		list-style:none;
	}
}
.giustificato {
	@include hyphenation;
	text-align:justify;
	    -webkit-hyphens:auto;
	    -webkit-hyphenate-character:"\2010";
	    -webkit-hyphenate-limit-after:1;
	    -webkit-hyphenate-limit-before:3;
}
.text-center {
	text-align:center;
}
.relative {
	position:relative;
}
.absolute {
	position:absolute;
}
.bottom {
	bottom:0;
}
.fullscreen {
	height:100%;
	width:100%;
}
.fullwidth {
	width:100%;
}

.slide {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
.aria {
	padding-top:1em;
}
.super-aria {
	@media #{$small} 
	{
		padding-top:3em;
	}
}
.aria-sopra-sotto {
	padding:1em 0;
}
.indent-doppio {
	margin-left:2em;
}
body.home .reveal-modal.medium {
		width:96%;
		margin-left: -48%;

	
	@media only screen and (min-width:1023px) {
		width:64%;
		margin-left: -32%;
	}

	@media #{$medium} {
		margin-left: -20%;
    	width: 40%;
	}


}

/* MODULES */
.no-touch .photo-hover {
	a {
		img {
			opacity:0.7;
			@include single-transition(all, 500ms);
		}

		&:hover  {
			img {
				opacity:1;
			}
		}
	}
}

.orbit-container {
	height:100%;
	overflow: hidden;
	margin-bottom:-1px;

	.orbit-prev, 
	.orbit-next {
		background:$giallo;
		margin-top:-50px;
		opacity:0.9;

		span {
			border:medium none;
			text-indent:0;
			left:50%;
			 margin-left: -10px;
    		margin-top: -27px;

			&:before {
				content: "\00BB";
				color:#000;
				font-size:3em;
			}
		}

		&:hover {
			opacity:1;

			span:before {
				color:$perla;
			}
		}

	}

	.orbit-prev {
		margin-top: 25px;
    	right: 0;
    	left:auto;

    	span:before {
				content: "\00AB" !important;
			}
	}

}

/* STATUS */

/* THEME */
.action {
	background:$nero;
	color:$bianco;
	&:hover {
		background:$giallone;
	}
}
.designer-colonne {
	-webkit-column-count:2;
	-moz-column-count:2; 
	column-count:2; 

	-webkit-column-gap:15px;
	-moz-column-gap:15px;
	column-gap:15px;

	-webkit-column-rule: 1px dotted $grigiochiaro;
	-moz-column-rule: 1px dotted $grigiochiaro;
	column-rule: 1px dotted $grigiochiaro;

	@media #{$small} {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}

	@media #{$medium} {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}

	li {
		font-size:emCalc(13px);
		line-height:2.5em;
		text-align:center;
		
		@media #{$small} {
			text-align: left;
			padding-left: 2em;
		}
		@media #{$medium} {
			font-size:emCalc(16px);
		}
	}
}

body.home .fondoperla {
	background:$perla;
	color:$nero1;

		#{headings()} {
			color:$nero2;
		}
}



.logo {
	color:$bianco;
	max-width:205px;
}

.top-header {
	background: none repeat scroll 0 0 $nero;
    width: 100%;
    z-index: 99;
}

.orbit-slide-number, .orbit-timer {
	position:absolute;
	z-index:-1;
	color:transparent;
}
.no-frecce .orbit-container {
	.orbit-prev, 
	.orbit-next {
		position:absolute;
		z-index:-1;
		top:-9999px;
	}
}
.designer-button {
	display:block;
	float:left;
	color:$perla;
	background:$grigiochiaro;
	padding:emCalc(16px);

	&:hover {
		color:$nero2;
	}
}

.designer-slider {
	border-top:3px solid $giallone;
}
.designer-active, .designer-active:focus {
	background:$giallone;
	color:$bianco;
	border-right: 1px solid $grigiochiaro;

	&:hover {
		color:$perla;
	}
}

.mappa {
	height:345px;
}

.social-link {
	a {
		border: 1px solid #FEFEFE;
   		color: white;
    	padding: 0.5em 1em;
		
		display:block;
		margin:0 1em;

    	&:hover {
    		background:$bianco;
    		color:$nero;
    	}

    	@media #{$small} {
    		display:inline;
    	}
	}
}

/* DA AGGIUSTARE */


.no-touch .module {
	@include translateY(250px);
	@include single-transition(all, 600ms);
}

.module:nth-child(odd) {
	@include single-transition(all, 800ms);
}

.js .come-in {
	@include translateY(0px);
}
